Projet RAG.json
{
  "name": "Projet AIE",
  "nodes": [
    {
        "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1440,
        480
      ],
      "id": "7ce48a72-fcc4-411a-9796-19aab4ce61ae",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://www.lemonde.fr/rss/une.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -2048,
        928
      ],
      "id": "a9df365c-d412-432d-9591-7cd10d1aadf4",
      "name": "Le Monde"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Modify the article :\nsource: {{ $('Loop Over Items').item.json.source }}\ntitle: {{ $('Loop Over Items').item.json.title }}\nlink: {{ $('Loop Over Items').item.json.link }}\npubDate:{{ $('Loop Over Items').item.json.pubDate }}\ncontent: {{ $('Loop Over Items').item.json.content }}\nlanguage: {{ $('Loop Over Items').item.json.language }}\ncategory: {{ $('Loop Over Items').item.json.category }}\n\nReturn a JSON object with this exact structure:\n{\n    \"source\": {{ $('Loop Over Items').item.json.source }}\n\t\"title\": {{ $('Loop Over Items').item.json.title }}\n\t\"link\": {{ $('Loop Over Items').item.json.link }}\n\t\"pubDate\": convert {{ $('Loop Over Items').item.json.pubDate }} in TIMESTAMPTZ\n\t\"content\":{{ $('Loop Over Items').item.json.content }}\n    \"language\": {{ $('Loop Over Items').item.json.language }}\n    \"category\": {{ $('Loop Over Items').item.json.category }}\n\n}\n\nOnly include the field matching the requested platform.\ncategory : fill with the followin category [Internationl, Planet, Society, economy, culture, sciences, sports]\nlanguage : fond the language off the content with two letters",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -112,
        496
      ],
      "id": "b39fdc23-5323-43cd-9aa4-dc16e8fad3f0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -240,
        784
      ],
      "id": "3ff5dbb4-ed6d-4803-87a8-624db09e5867",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4DSydcSDw0nNhAKb",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1152,
        496
      ],
      "id": "84961375-76ad-4ae8-afb5-3aaf3e4c4948",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"source\": \"\",\n    \"title\": \"...\",\n\t\"link\": \"\",\n\t\"pubDate\": \"\",\n\t\"content\": \"\",\n\t\"language\": \"\",\n\t\"category\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        144,
        800
      ],
      "id": "959afc08-52e7-4e3c-8a4a-991aa6a5921a",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "articles_pipeline",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "link",
              "condition": "eq",
              "keyValue": "={{ $json.link }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "IsNew",
              "fieldValue": "False"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1008,
        -400
      ],
      "id": "b384bb7d-9341-495c-bb6c-028cd881dde9",
      "name": "IsNot New",
      "credentials": {
        "supabaseApi": {
          "id": "ZLMevikTkCBdJo4Y",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n   \"source\": \"Le monde\",\n   \"title\": \"{{ $json.title }}\",\n   \"link\": \"{{ $json.link }}\",\n   \"pubDate\":\"convert{{ $json.pubDate }}\" ,\n   \"content\":\"{{ $json.content }}\" ,\n   \"language\":\"\" ,\n   \"category\":\"\" \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1808,
        848
      ],
      "id": "ce044204-ec4c-4977-89fd-7861bcc42796",
      "name": "Edit LM"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "articles_pipeline",
        "filters": {
          "conditions": [
            {
              "keyName": "link",
              "keyValue": "={{ $json.link }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -848,
        512
      ],
      "id": "1d246896-872d-4a5d-901e-b2fb58a4cfdd",
      "name": "Row exists",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ZLMevikTkCBdJo4Y",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "97e4ef11-3a10-45bb-a65f-80a4518bf890",
              "leftValue": "={{ $json.language }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -592,
        512
      ],
      "id": "3ad5bfe6-382d-4146-9135-bc12fd5ac9f1",
      "name": "If not exists"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        272,
        496
      ],
      "id": "aa1f1c79-bd3b-4405-815d-b6e427eebdbe",
      "name": "Wait 1s",
      "webhookId": "37485fe0-5022-45f9-86b1-6a938579518e"
    },
    {
      "parameters": {
        "tableId": "articles_pipeline",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source",
              "fieldValue": "={{ $json.output.source }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.output.title }}"
            },
            {
              "fieldId": "link",
              "fieldValue": "={{ $json.output.link }}"
            },
            {
              "fieldId": "pubdate",
              "fieldValue": "={{ $json.output.pubDate }}"
            },
            {
              "fieldId": "link",
              "fieldValue": "={{ $json.output.link }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.output.category }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.output.content }}"
            },
            {
              "fieldId": "json",
              "fieldValue": "={{ $json.output }}"
            },
            {
              "fieldId": "language",
              "fieldValue": "={{ $json.output.language }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        576,
        784
      ],
      "id": "448bb4f5-17e1-4a85-9dc5-8f6d7f216efc",
      "name": "Insert article",
      "credentials": {
        "supabaseApi": {
          "id": "ZLMevikTkCBdJo4Y",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "articles_pipeline",
        "filters": {
          "conditions": [
            {
              "keyName": "IsNew",
              "keyValue": "True"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -512,
        -208
      ],
      "id": "d723daba-2cbf-45e1-9c82-1abc29d88bff",
      "name": "Nouveaux articles",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "ZLMevikTkCBdJo4Y",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "NouveauxArticles.xlsx",
          "headerRow": true,
          "sheetName": "Articles de press"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1376,
        -224
      ],
      "id": "340ce83c-5657-4691-95e7-575ceca784fd",
      "name": "Generation Excel"
    },
    {
      "parameters": {
        "fromEmail": "ronan.guillou@wisy.fr",
        "toEmail": "ronan_guillou@hotmail.com",
        "subject": "=Vos nouveaux articles de presse du {{ new Date().toISOString().split('T')[0] }};\n\n",
        "html": "Bonjour,\n\nVoici les nouveaux articles de presse du jour !\n\n\n\n",
        "options": {
          "appendAttribution": false,
          "attachments": "=data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1200,
        -224
      ],
      "id": "af5ece26-0d4b-49a4-bf7e-94c76d04dfc0",
      "name": "Send an Email",
      "webhookId": "59bb615b-e54e-422f-bf42-b055b6c0c0be",
      "credentials": {
        "smtp": {
          "id": "KeyE91NjymRtBq0a",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -176,
        -208
      ],
      "id": "2edd6feb-1988-4882-8b9f-cd1ac4b2e23b",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "ZLMevikTkCBdJo4Y",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        336,
        128
      ],
      "id": "fa43f77e-a8f9-45eb-8303-0a902a41f6c2",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        352
      ],
      "id": "c83a903c-59f6-4257-be36-58232e681322",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "4DSydcSDw0nNhAKb",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=content = {{ $json.content }} ;\ntitle = {{ $json.title }};",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "category",
                "value": "={{ $json.category }}"
              },
              {
                "name": "language",
                "value": "={{ $json.language }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        80,
        0
      ],
      "id": "9bc3303f-eed3-46d1-bf14-98d459e7bf3b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with vectorized data",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 7,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        960,
        16
      ],
      "id": "40b75e80-7572-4ba8-bd0e-f16efdb3b796",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "ZLMevikTkCBdJo4Y",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "[Context]\nRetourne moi 3 articles sur le sujet demandée en respectant la catégorie.\nChacun sur une nouvelle ligne avec ----------------------------------------------------------------- entre chaque article.\nRetourne 1 fois le meme article\nNe retourne que les articles qui existent dans notre base.\nAu format telegram\n\n[format]\ntitle\n-> content\nlink  (lien clickable) \nSource : source\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        896,
        -352
      ],
      "id": "05ba1371-d377-4163-9bc5-d631939b065e",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        896,
        -112
      ],
      "id": "6692fdd4-b479-4017-8cb9-e45aa3ebd5d1",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "4DSydcSDw0nNhAKb",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "channel_post",
          "message"
        ],
        "additionalFields": {
          "chatIds": "5067856175"
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        672,
        -352
      ],
      "id": "5cfc5453-04ee-4089-b419-944b1c779036",
      "name": "Telegram Trigger1",
      "webhookId": "9e8f6709-d6ed-4c24-aabb-2df3fd1fa9ec",
      "credentials": {
        "telegramApi": {
          "id": "8SkoxyTOjQIi4HDj",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5067856175",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        -352
      ],
      "id": "6080d260-6374-4800-a651-89e117e8272f",
      "name": "Send a text message",
      "webhookId": "6b8979bf-0ae3-4219-9b80-4394df0d7996",
      "credentials": {
        "telegramApi": {
          "id": "8SkoxyTOjQIi4HDj",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17,
              "triggerAtMinute": 42
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2608,
        -160
      ],
      "id": "4251e198-6f09-45b0-8f0f-6b17daceba31",
      "name": "Tous les jours à 9h"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2448,
        528
      ],
      "id": "b47b7d9c-915c-44a3-8fcb-f133bb49dee0",
      "name": "Tous les jours à minuit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8f2a8884-486c-41ff-b157-fd93f285873e",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1712,
        -64
      ],
      "id": "1661fd88-036c-446d-b5ab-58adc218950e",
      "name": "if>0"
    },
    {
      "parameters": {
        "chatId": "5067856175",
        "text": "=Il y a {{ $json.total }} nouveaux articles dans la base !",
        "additionalFields": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1392,
        -16
      ],
      "id": "783d63bc-d41b-4586-80b7-9e2579cad957",
      "name": "Send a text message1",
      "webhookId": "6b8979bf-0ae3-4219-9b80-4394df0d7996",
      "credentials": {
        "telegramApi": {
          "id": "8SkoxyTOjQIi4HDj",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 30,
              "unit": "minutes"
            }
          ]
        },
        "feedUrl": "https://www.lemondeinformatique.fr/flux-rss/thematique/toutes-les-actualites/rss.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -2048,
        480
      ],
      "id": "6ca50d3d-5c63-4ca9-a4ef-5621b4313d9e",
      "name": "RSS Feed Trigger LMI"
    },
    {
      "parameters": {
        "url": "https://www.lemondeinformatique.fr/flux-rss/thematique/toutes-les-actualites/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -2048,
        624
      ],
      "id": "602c6ca4-88c2-4c7c-a7e2-4a44f17585f6",
      "name": "LMI"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n   \"source\": \"Le monde de l'informatique\",\n   \"title\": \"{{ $json.title }}\",\n   \"link\": \"{{ $json.link }}\",\n   \"pubDate\":\"convert{{ $json['dc:date'] }}\" ,\n   \"content\":\"{{ $json.content }}\" ,\n   \"language\":\"\" ,\n   \"category\":\"\" \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1792,
        544
      ],
      "id": "35253e6e-7ab8-4996-b28b-ee28cb5727ef",
      "name": "Edit LMI"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 30,
              "unit": "minutes"
            }
          ]
        },
        "feedUrl": "https://www.lemonde.fr/rss/une.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -2048,
        800
      ],
      "id": "22d059db-77af-4812-b0bd-da66fd36ae3e",
      "name": "RSS Feed Trigger LM"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 30,
              "unit": "minutes"
            }
          ]
        },
        "feedUrl": "https://www.01net.com/actualites/feed/"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -2048,
        112
      ],
      "id": "423a82cc-9fc3-4df6-86ab-4d1320047287",
      "name": "RSS Feed Trigger 01Net"
    },
    {
      "parameters": {
        "url": "https://www.01net.com/actualites/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -2048,
        288
      ],
      "id": "513d62e8-0688-4e9e-9e39-e2e1c5d417c2",
      "name": "01NET"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n   \"source\": \"01.net\",\n   \"title\": \"{{ $json.title }}\",\n   \"link\": \"{{ $json.link }}\",\n   \"pubDate\":\"convert{{ $json.pubDate }}\" ,\n   \"content\":\"{{ $json[\"content:encodedSnippet\"] }}\" ,\n   \"language\":\"\" ,\n   \"category\":\"\" \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1792,
        208
      ],
      "id": "dc9f4a8d-2baa-400e-853a-2bd2b1aeed34",
      "name": "Edit 01net"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "articles_pipeline",
        "filters": {
          "conditions": [
            {
              "keyName": "IsNew",
              "keyValue": "True"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2336,
        -160
      ],
      "id": "56147887-84f0-48f8-a61d-ef39953e13ef",
      "name": "Nouveaux articles2",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "ZLMevikTkCBdJo4Y",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n   \"count\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        -64
      ],
      "id": "1148b8b1-d72a-4345-856a-0f81616eea6e",
      "name": "Edit 01net1"
    },
    {
      "parameters": {
        "jsCode": "let total = 0;\n\nfor (const item of $input.all()) {\n   total += 1;\n}\n\nreturn { total };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        -64
      ],
      "id": "ab427500-39b6-4616-8117-b2ea494f5c1e",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Le Monde": {
      "main": [
        [
          {
            "node": "Edit LM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Wait 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Nouveaux articles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Row exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "IsNot New": {
      "main": [
        []
      ]
    },
    "Edit LM": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Row exists": {
      "main": [
        [
          {
            "node": "If not exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not exists": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1s": {
      "main": [
        [
          {
            "node": "Insert article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert article": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nouveaux articles": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generation Excel": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "IsNot New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tous les jours à 9h": {
      "main": [
        [
          {
            "node": "Nouveaux articles2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tous les jours à minuit": {
      "main": [
        [
          {
            "node": "Le Monde",
            "type": "main",
            "index": 0
          },
          {
            "node": "LMI",
            "type": "main",
            "index": 0
          },
          {
            "node": "01NET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if>0": {
      "main": [
        [
          {
            "node": "Generation Excel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "RSS Feed Trigger LMI": {
      "main": [
        [
          {
            "node": "Edit LMI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LMI": {
      "main": [
        [
          {
            "node": "Edit LMI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit LMI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Feed Trigger LM": {
      "main": [
        [
          {
            "node": "Edit LM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Trigger 01Net": {
      "main": [
        [
          {
            "node": "Edit 01net",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01NET": {
      "main": [
        [
          {
            "node": "Edit 01net",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit 01net": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nouveaux articles2": {
      "main": [
        [
          {
            "node": "Edit 01net1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generation Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit 01net1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "if>0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a0d199d9-69ea-4c84-8519-2417deca1237",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a14b52215ddcafd62d14bab4aec88f2acd0ccc6a8de9651fbbad315bf22d0fc4"
  },
  "id": "PrbiNnwoqjnJQKty",
  "tags": []
}